.catburger{
    margin: auto;
    content:url("/assets/img/catburger.png");
    height: 200px;
    width: 200px;
}

body {
    background-image: url("/assets/img/pusheenwall.png");
    background-size: auto;
}

.jumbotron {
    margin: auto;
    text-align: center;
    width: 600px;
    height: 550px;
    background-color: rgb(178, 199, 120);
    opacity:.9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.lead {
    font-size: 25px;
}

ul {
    display: inline-table;
}
.col-md-6 {
    margin: auto;
    text-align: center;
    opacity: .9;
}

.col-md-10{
    margin: auto;
    text-align: center;
    opacity: .9
}

.card-header {
    font-size: x-large;
    color: orange;
}
